body {
    text-align: center; 
    /*background-image: url("Images/Picture1.png")*/

} 
canvas{
    padding-top: 27px;
    padding-left: 28px;
    border-radius: 50px;
}

.wrap{
    position: relative;
    margin: 0 auto;
    width: 400px;
} 
.overlay{
    background: url(Images/Picture2.png);
    height: 870px;
    width: 434px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* img{
    margin: 50px auto 0;
    position: absolute;
    width: 400px;
    height: 840px;

} */
/* .iphone{
    width:375px;
    height: 812px;
    position: absolute;
    top:108px;
    left: 518px;
    image: url("Images/Picture1.png");
    background-size:cover;
} */ 